@import "tailwindcss";
:root {
  /* Definición de tus colores como variables CSS */
  --neon-green: #07D98C;
  --electric-blue: #4227F2;
  --soft-pink: #F27EB4;
  --deep-magenta: #A60D61;
  --dark-wine: #400224;

  /* Definición de sombra personalizada */
  --boxShadow-card: 0 4px 20px rgba(0,0,0,0.4);
}

/* Si quieres puedes usar estas variables en utilidades custom */
.custom-card {
  box-shadow: var(--boxShadow-card);
  background-color: var(--color-darkCard);
}